<div ng-include="'views/header.html'"></div>
<div ng-include="'views/footer.html'"></div>
<div class="main-container" ng-controller="AnunciosController">
     <div style="width: 70%; height: 100vh; margin: 0 auto; padding: 20px;">
          <div style="display: flex; justify-content: space-between;">
               <h1>
                    Meus anúncios
               </h1>
               <button class="botaoGeral" ng-click="criarProduto()">
                    Criar anúncio
               </button>
          </div>
          <div style="margin-top: 20px;">
               <ul style="list-style: none;">
                    <li style="display: flex; justify-content: space-between; border: 1px solid #c9c9c9; border-radius: 10px; margin: 10px 0;">
                         <div style="width: 250px; height: 250px; display: flex; justify-content: center; padding: 25px;">
                              <img src="../images/Caixa - Lanterna Verde.png" alt="Caixa Lanterna Verde" style="height: auto; width: auto" />
                         </div>
                         <div style="display: flex; flex-direction: column; margin: auto 0 auto 20px; gap: 20px;">
                              <span>
                                   Bota Timberland Confort Masculino - Tamanho 39
                              </span>
                              <span>
                                   R$ 150,00
                              </span>
                              <span>
                                   13/01/21 às 20h40
                              </span>
                         </div>
                         <div style="width: 250px; height: 250px; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 20px;">
                              <button class="botaoGeral">
                                   Editar
                              </button>
                              <button class="botaoGeral">
                                   Excluir
                              </button>
                         </div>
                    </li>
                    <li style="display: flex; justify-content: space-between; border: 1px solid #c9c9c9; border-radius: 10px; margin: 10px 0;">
                         <div style="width: 250px; height: 250px; display: flex; justify-content: center; padding: 25px;">
                              <img src="../images/Caixa - Lanterna Verde.png" alt="Caixa Lanterna Verde" style="height: auto; width: auto" />
                         </div>
                         <div style="display: flex; flex-direction: column; margin: auto 0 auto 20px; gap: 20px;">
                              <span>
                                   Bota Timberland Confort Masculino - Tamanho 39
                              </span>
                              <span>
                                   R$ 150,00
                              </span>
                              <span>
                                   13/01/21 às 20h40
                              </span>
                         </div>
                         <div style="width: 250px; height: 250px; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 20px;">
                              <button class="botaoGeral">
                                   Editar
                              </button>
                              <button class="botaoGeral">
                                   Excluir
                              </button>
                         </div>
                    </li>
                    <li style="display: flex; justify-content: space-between; border: 1px solid #c9c9c9; border-radius: 10px; margin: 10px 0;">
                         <div style="width: 250px; height: 250px; display: flex; justify-content: center; padding: 25px;">
                              <img src="../images/Caixa - Lanterna Verde.png" alt="Caixa Lanterna Verde" style="height: auto; width: auto" />
                         </div>
                         <div style="display: flex; flex-direction: column; margin: auto 0 auto 20px; gap: 20px;">
                              <span>
                                   Bota Timberland Confort Masculino - Tamanho 39
                              </span>
                              <span>
                                   R$ 150,00
                              </span>
                              <span>
                                   13/01/21 às 20h40
                              </span>
                         </div>
                         <div style="width: 250px; height: 250px; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 20px;">
                              <button class="botaoGeral">
                                   Editar
                              </button>
                              <button class="botaoGeral">
                                   Excluir
                              </button>
                         </div>
                    </li>
                    <li style="display: flex; justify-content: space-between; border: 1px solid #c9c9c9; border-radius: 10px; margin: 10px 0;">
                         <div style="width: 250px; height: 250px; display: flex; justify-content: center; padding: 25px;">
                              <img src="../images/Caixa - Lanterna Verde.png" alt="Caixa Lanterna Verde" style="height: auto; width: auto" />
                         </div>
                         <div style="display: flex; flex-direction: column; margin: auto 0 auto 20px; gap: 20px;">
                              <span>
                                   Bota Timberland Confort Masculino - Tamanho 39
                              </span>
                              <span>
                                   R$ 150,00
                              </span>
                              <span>
                                   13/01/21 às 20h40
                              </span>
                         </div>
                         <div style="width: 250px; height: 250px; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 20px;">
                              <button class="botaoGeral">
                                   Editar
                              </button>
                              <button class="botaoGeral">
                                   Excluir
                              </button>
                         </div>
                    </li>
               </ul>
          </div>
     </div>
</div>