<div ng-include="'views/header.html'"></div>
<div ng-include="'views/footer.html'"></div>
<div class="main-container" ng-controller="AnunciosController">
     <div style="width: 70%; height: 100vh; margin: 0 auto; padding: 20px;">
          <div style="display: flex; justify-content: space-between;">
               <h1>
                    Meus anúncios
               </h1>
               <button class="botaoGeral" ng-click="criarProduto()">
                    Criar anúncio
               </button>
          </div>
          <div style="margin-top: 20px;">
               <ul style="list-style: none;" ng-repeat="produto in produtos">
                    <li style="display: flex; justify-content: space-between; border: 1px solid #c9c9c9; border-radius: 10px; margin: 10px 0;">
                         <div style="display: flex; flex: 1; flex-direction: column; margin: auto 0 auto 20px; gap: 20px;">
                              <strong>
                                   {{ produto.nome }} • R$ {{ produto.valor }} • {{ produto.descricao }}
                              </strong>
                         </div>
                         <div style="width: 250px; height: 80px; display: flex; justify-content: center; align-items: center; gap: 20px;">
                              <button class="botaoGeral" ng-click="editar(produto._id)">
                                   Editar
                              </button>
                              <button class="botaoGeral" ng-click="excluir(produto._id)">
                                   Excluir
                              </button>
                         </div>
                    </li>
               </ul>
          </div>
     </div>
</div>