<div ng-include="'views/header.html'"></div>
<div class="main-container" ng-controller="CategoriasController">
     <div class="line-container">
          <div class="line">
               <hr>
          </div>
          <span class="line-text">Categorias</span>
          <div class="line">
               <hr>
          </div>
     </div>
     <div class="categorias-container">
          <div class="categorias">
               <div class="categoria-individual">
                    <div class="categoria-imagem">
                         <img src="images/marvel.jpg" />
                    </div>
                    <div class="categoria-titulo">Marvel</div>
               </div>
               <div class="categoria-individual">
                    <div class="categoria-imagem">
                         <img src="images/dc-comics.jpg" />
                    </div>
                    <div class="categoria-titulo">DC Comics</div>
               </div>
               <div class="categoria-individual">
                    <div class="categoria-imagem">
                         <img src="images/mangas.jpg" />
                    </div>
                    <div class="categoria-titulo">Mangás</div>
               </div>
          </div>
          <div class="categorias">
               <div class="categoria-individual">
                    <div class="categoria-imagem">
                         <img src="images/marvel.jpg" />
                    </div>
                    <div class="categoria-titulo">Marvel</div>
               </div>
               <div class="categoria-individual">
                    <div class="categoria-imagem">
                         <img src="images/dc-comics.jpg" />
                    </div>
                    <div class="categoria-titulo">DC Comics</div>
               </div>
               <div class="categoria-individual">
                    <div class="categoria-imagem">
                         <img src="images/mangas.jpg" />
                    </div>
                    <div class="categoria-titulo">Mangás</div>
               </div>
          </div>
          <div class="categorias">
               <div class="categoria-individual">
                    <div class="categoria-imagem">
                         <img src="images/marvel.jpg" />
                    </div>
                    <div class="categoria-titulo">Marvel</div>
               </div>
               <div class="categoria-individual">
                    <div class="categoria-imagem">
                         <img src="images/dc-comics.jpg" />
                    </div>
                    <div class="categoria-titulo">DC Comics</div>
               </div>
               <div class="categoria-individual">
                    <div class="categoria-imagem">
                         <img src="images/mangas.jpg" />
                    </div>
                    <div class="categoria-titulo">Mangás</div>
               </div>
          </div>
     </div>
</div>
<div ng-include="'views/footer.html'"></div>