<div ng-include="'views/header.html'"></div>
<div ng-include="'views/footer.html'"></div>
<div class="login-main" ng-controller="CriarContaController">
     <div class="login-box">
          <h2>Criar conta</h2>
          <div class="login-inputs">
               <div>
                    <label>Nome completo</label>
                    <input type="text" ng-model="nome" placeholder="Insira seu nome completo..." required>
               </div>
               <div>
                    <label>Usuário</label>
                    <input type="text" ng-model="usuario" placeholder="Insira seu nome de usuário..." required>
               </div>
               <div>
                    <label>Senha</label>
                    <input type="password" ng-model="senha1" placeholder="Insira sua senha..." required>
               </div>
               <div>
                    <label>Repita a senha</label>
                    <input type="password" ng-model="senha2" placeholder="Repita sua senha..." required>
               </div>
               <div>
                    <label>E-mail</label>
                    <input type="email" ng-model="email" placeholder="Insira seu e-mail..." required>
               </div>
               <div>
                    <label>Telefone</label>
                    <input type="tel" ng-model="telefone" placeholder="Insira seu telefone..." required>
               </div>
          </div>
          <div class="login-button" ng-click="criarConta()"><span class="material-symbols-outlined espacoDireita">login</span> Criar conta</div>
     </div>
</div>