<!-- <div ng-include="'views/header.html'"></div> -->
<div ng-include="'views/footer.html'"></div>
<div ng-controller="CriarProdutoController"
     style="padding: 20px; width: 70%; height: 100vh; margin: 0 auto;">
     <div style="width: 100%; margin: 0 auto; display: flex; flex-direction: column;">
          <div style="display: flex; justify-content: space-between;">
               <h1>
                    Criar anúncio
               </h1>
               <button class="botaoGeral" ng-click="voltar()">
                    Voltar
               </button>
          </div>
          <div>
               <div>
                    <label>Nome do produto</label>
                    <input class="login-input" type="text" ng-model="nomeProduto"
                         placeholder="Digite o nome do produto..." required>
               </div>
               <div>
                    <label>Descrição</label>
                    <input class="login-input" type="text" ng-model="descricaoProduto"
                         placeholder="Digite a descrição do produto..." required>
               </div>
               <div>
                    <label>Preço</label>
                    <input class="login-input" type="number" ng-model="precoProduto"
                         placeholder="Digite o preço do produto..." required>
               </div>
          </div>
          <div>
               <button class="botaoGeral" ng-click="criarProduto()">
                    <span class="material-symbols-outlined espacoDireita">
                         add_circle
                    </span>
                    Criar produto
               </button>
          </div>
     </div>
</div>