<div ng-include="'views/header.html'"></div>
<div ng-include="'views/footer.html'"></div>
<div class="login-main" ng-controller="CriarContaController">
     <div class="cadastro-box">
          <h2>Criar conta</h2>
          <div class="login-inputs">
               <div>
                    <label>Usuário</label>
                    <input  class="login-input" type="text" ng-model="usuario" placeholder="Insira seu nome de usuário..." required>
               </div>
               <div>
                    <label>Senha</label>
                    <input  class="login-input" type="password" ng-model="senha1" placeholder="Insira sua senha..." required>
               </div>
               <div>
                    <label>Repita a senha</label>
                    <input  class="login-input" type="password" ng-model="senha2" placeholder="Repita sua senha..." required>
               </div>
          </div>
          <div class="login-button" ng-click="criarConta()"><span class="material-symbols-outlined espacoDireita">login</span> Criar conta</div>
     </div>
</div>