<div ng-include="'views/header.html'"></div>
<div ng-include="'views/footer.html'"></div>
<div ng-controller="CriarProdutoController"
     style="padding: 100px 20px 0 20px; width: 30%; height: 100vh; margin: 0 auto;">
     <div style="width: 100%; margin: 0 auto; display: flex; flex-direction: column;">
          <div style="display: flex; justify-content: space-between;">
               <h1>
                    Criar anúncio
               </h1>
               <button class="botaoGeral" ng-click="voltar()">
                    Voltar
               </button>
          </div>
          <div style="display: flex; flex-direction: column; justify-content: space-between; margin: 25px 0;">
               <div style="display: flex; justify-content: space-between; align-items: center;">
                    <label>Nome do produto</label>
                    <input class="login-input" type="text" ng-model="nomeProduto"
                         placeholder="Nome" required>
               </div>
               <div style="display: flex; justify-content: space-between; align-items: center;">
                    <label>Descrição</label>
                    <input class="login-input" type="text" ng-model="descricaoProduto"
                         placeholder="Descrição" required>
               </div>
               <div style="display: flex; justify-content: space-between; align-items: center;">
                    <label>Preço</label>
                    <input class="login-input" type="number" ng-model="precoProduto"
                         placeholder="Preço" required>
               </div>
          </div>
          <div style="display: flex; justify-content: end;">
               <button class="botaoGeral" ng-click="criarProduto()">
                    <span class="material-symbols-outlined espacoDireita">
                         add_circle
                    </span>
                    Criar produto
               </button>
          </div>
     </div>
</div>