<header ng-controller="HeaderController">
     <div class="menu-superior">
          <div class="logo-menu">
               <img src="images/logo.png" alt="Logo Comic Shop" ng-click="home()" />
          </div>
          <div class="itens-menu">
               <a ng-click="catalogo()">Catálogo geral</a>
               <a ng-click="categorias()">Categorias</a>
               <a ng-hide="user" ng-click="login()"><span class="material-symbols-outlined">login</span> Fazer login</a>
               <a ng-show="user" ng-click="editarPerfil()">{{ user }}</a>
               <a ng-show="user" ng-click="meusAnuncios()">Meus anúncios</a>
               <a ng-click="carrinho()"><span class="material-symbols-outlined">shopping_cart</span> Carrinho</a>
               <a ng-show="user" ng-click="logout()">Sair</a>
          </div>
     </div>
</header>