<!DOCTYPE html>
<html lang="pt-br" ng-app="ComicShop">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>ComicShop!</title>
     <!-- Linkagem de CSS, ícones, favicon e outros... -->
     <link href="css/style.css" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
     <link rel="icon" type="image/x-icon" href="images/favicon.ico">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik&display=swap" rel="stylesheet">
     <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.1/angular-material.min.css">
     <!-- Importação de libraries -->
     <script src="lib/angular.js"></script>
     <script src="lib/angular-route.js"></script>
     <script src="lib/angular-animate.js"></script>
     <script src="lib/angular-aria.js"></script>
     <script src="lib/angular-messages.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.1/angular-material.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
     <!-- Importação de componentes do projeto -->
     <script src="js/app.js"></script>
     <script src="js/controllers/404.controller.js"></script>
     <script src="js/controllers/anuncios.controller.js"></script>
     <script src="js/controllers/carrinho.controller.js"></script>
     <script src="js/controllers/comicshop.controller.js"></script>
     <script src="js/controllers/criarconta.controller.js"></script>
     <script src="js/controllers/criarproduto.controller.js"></script>
     <script src="js/controllers/footer.controller.js"></script>
     <script src="js/controllers/header.controller.js"></script>
     <script src="js/controllers/home.controller.js"></script>
     <script src="js/controllers/login.controller.js"></script>
     <script src="js/controllers/minhascompras.controller.js"></script>
     <script src="js/controllers/perfil.controller.js"></script>
</head>

<body ng-controller="ComicShopController">
     <div ng-view></div>
</body>

</html>